  /*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body{
	margin: 0;	
	font-family: 'Raleway', sans-serif;
}
#navegadorId{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #E54E79;
	overflow: hidden;
	z-index: 1;
}
#logoId{
	width: 60px;
	height: auto;
	float: left;
	padding-left: 10%;
	padding-top: 6px;
	background-color: #E54E79;
}
#navegadorId ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #E54E79;
	font-family: 'Raleway', sans-serif;
	float: right;
	padding-right: 10%;
}
 #navegadorId ul li{
	display: inline-block;
}
#navegadorId ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}
#navegadorId li a:hover{
	background-color: #E56385;
	color: #EDE9E2;
}
/*********header***********/
h1, h3{
	margin: 0;
	color: #00B2A9;
}
#headerId{
	clear: left;
	background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 350px 0;
	top: 60px;
	

}
#formularioId{
	background-color: #EDE9E2;
	
	width: 490px;
	height: 400px;
	padding: 40px 40px;
	position: absolute;
	right: 0;
	bottom: 50px;
	box-sizing: border-box;
	z-index: inherit;

}
h1, .upper{
	text-transform: uppercase;
}
 p{
	color: #75726C;
}
#becomeId{
	background-color: #E56385;
	color: #EDE9E2;
	display: block;
	border-radius: 14px; 
	padding: 0 24px;
	margin: 20px 0;
}
#becomeId:hover{
	background-color: #ed6a8c;
	color: #EDE9E2;
}
#becomeId p{
	color: #EDE9E2;
	font-size: 16px;
}
#headerId input{
	background: transparent;
    border: none;
    border-bottom: 1px solid #75726C;
    width: 100%;
    padding: 5px 0;
}
#headerId input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 2;
}
#headerId input:focus{
    outline: none;
    border-bottom: 2px solid #ed6a8c;
 }
/***************Play with lyft*******************/
#playWithId{
	background-color: #00B2A9;
	padding: 90px 0;
	position: relative;
}
#playWithId h1{
	color: #75726C;
	width: 100%;
	text-align: center;
	background-color: #EDE9E2;
	position: absolute;
	top: 50px;
	padding: 30px 0;
	font-size: 50px;
	margin-top: 30px;
}
#autosId{
	width: 70%;
	margin: auto;
	height: 210px;
	background-color: #EDE9E2;
	margin-top: 170px;
	padding-top: 20px;
}
.autosClass{
	display: inline-block;
	width: 35%;
	padding: 20px;
	margin-bottom: 30px;
}
#auto1{
	float: left;
	margin-left: 10%;
}
#auto2{
	float: right;
	margin-right: 10%;
}
.autosClass i{
	color: #75726C;
	font-size: 30px;
}
.autosClass input{
	background: transparent;
    border: none;
    border-bottom: 1px solid #75726C;
    width: 80%;
    padding: 10px 0;
}
.autosClass input:focus{
    outline: none;
    border-bottom: 2px solid #00B2A9;
}
.autosClass input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 2;
}
.botonStart{
	display: block;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	background-color: #00B2A9;
	color: #EDE9E2;
	border-radius: 14px;
	padding: 10px 10px;
}
.botonStart:hover{
	background-color: #01c4ba;
	color: #EDE9E2;
}
.botonStart p{
	font-size: 20px;
	text-transform: uppercase;
	color: #EDE9E2;
	padding: 0;
	margin: 5px;
}
.no{
	display: none;
}
/********Juego***************/
#juegoId{
	background-color: #00B2A9;
	padding: 20px;
}
#cuadroId{
	width: 800px;
	margin: auto;
	background-color: #75726C;
	height: 480px;
	position: relative;
	border: 30px solid #EDE9E2;

}
#autito{
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url("../img/car.png");
	background-color: #E54E79;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
	z-index: 1;
}
.rosa{
	width: 80px;
	height: 80px;
	background-color: #E54E79;
	position: absolute;
}

/*****************footer*******************/
#footer{
	background-color: #75726C;
	position: relative;
	height: 220px;
	
}
#footer h1, #footer p{
	color: #EDE9E2;
	padding-bottom: 20px;
	padding-top: 10px;
}
#footer i{
	display: block;
	color: #EDE9E2;
	font-size: 26px;
}
#footer ul{
	list-style: none;
	 margin: 0;
    padding: 0;

}
#footer a{
	text-decoration: none;
}

#footer1{
	float: left;
	width: 40%;
	margin: auto;
	padding-left: 5%;
}
#footer2{
	width: 40%;
	margin: auto;
	float: right;
}

.inc{
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	background-color: #6B6862;
	height: 30px;
}
.inc a{
	color: #EDE9E2;
	margin: 0;
	background-color: #6B6862;
}

.fin1{
	float: left;	
	padding-left: 10%;
}
.fin2{
	float: right;
	padding-right: 10%;
}
